/** FONT-FAMILY POPPINS & HIND SILIGURI */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-hind_siliguri {
  font-family: "Hind Siliguri", sans-serif;
}

/** COLOR */
.primary-clr {
  color: #18181B;
}
.secondary-clr {
  color: #62748E;
}

.accent-clr-blue {
  color: #00BCFF;
}
.accent-clr-purple {
  color: #422AD5;
}

.bg-light-blue {
  background-color: #BADEFF42;
}
.bg-gray {
  background-color: #F8F8F8;
}

/** HOVER */
.btn-hover:hover {
  background-color: #422ad5;
  color: #ffffff;
}
i {
  color: #422AD5;
}
.word-detail-i {
  color: #374957;
}
.btn-hover:hover i {
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}